camera: {
	position: [
		0.0
		50.0
		50.0
	]
	spot: [
		0.00
		0.00
		0.00
	]
	up: [
		0.00
		1.00
		0.00
	]
}
geometry: [
	{
		primitive: "sphere"
		radius: 1.00
		position: [
			0.00
			3.00
			0.00
		]
		color: "0x00895980"
	}
	{
		primitive: "plane"
		normal: [
			0.00
			1.00
			0.00
		]
		position: [
			0.00
			0.00
			0.00
		]
		color: "0x00897b59"
	}
]
light: [
	{
		type: "spot"
		position: [
			0.00
			50.0
			0.00
		]
		attenuation: [
			0.750000
			0.100000
			0.500000
		]
		intensity: 1.000000
		direction: [
			0.000000
			-1.00000
			0.000000
		]
		angle: 45.00000
		color: "0x00ffffff"
	}
]

